html, body, .page, .content {
    height: 100%;
}

.content {
    background-color: whitesmoke;
}

.panel-conta {
    width: 100%;
    margin: 0.5rem;
    margin-bottom: 6rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px grey;
    overflow: auto;
    color: gray;
}

.panel-conta input {
    margin-bottom: 0.5rem;
    width: 98.5%;
    width: -moz-available;
    width: -webkit-fill-available;
    height: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: gray;
}

.panel-conta label {
    margin-top: 1rem;
    color: #9d0a0e;
}

.conta-controls-create {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #9a0a0e;
    padding: 0.5rem;
    width: inherit;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px black;
}

.conta {
    border: black dotted 0.1rem;
    border-radius: 0.6rem;
    padding: 1rem;
    overflow: auto;
}

.conta-foto {
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    height: 7.5rem;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    box-shadow: 0 0 0 5px rgba(175, 175, 175, 0.5), inset 0 1px 2px 0 rgba(0,0,0,0.3);
    margin-bottom: 1rem;
    max-width: 7.5rem;
    border-radius: 4.5rem;
}

.conta-controlls-button {
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.conta-controlls-block {
    background-color: red;
    border: lightcoral solid 0.1rem;
    float: left;
    box-shadow: 1px 0 10px 1px red;
}

.conta-controlls-edit {
    background-color: green;
    border: lightgreen solid 0.1rem;
    float: right;
    box-shadow: 1px 0 10px 1px green;
}

@media screen and (min-width: 44rem){
    .panel-conta {
        width: 65%;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 6rem;
    }

    .conta-controls-create {
        width: 67.5%;
        left: 16.25%;
        margin: auto;
        margin-bottom: 3.5rem;
    }
}