.modal-message-body {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    height: intrinsic;
    padding: 1rem;
}

.modal-message-text {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto-Bold';
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.toast {
    display: none;
}

.toast, .toast-background, .toast-message {
    text-align: center;
    color: white;
    width: 100%;
    min-height: 2rem;
    z-index: 6000;
    position: fixed;
    left: 0;
    top: 0;
}

.toast-background {
    background-color: black;
    opacity: 1;
}

.toast-message {
    color: #ffffff;
    padding-top: 0.4rem;
}