.box-login {
    width: -webkit-fill-available;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    top: 30%;
    left: 0;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: lightgray;
    z-index: 10;
}

.box-login input {
    text-align: left;
    height: 1.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto-Bold';
    padding: 0.5rem;
}

.btn-login {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: linear-gradient(#9a0a0e,#660205);
    padding: 0.5rem;
    width: -webkit-fill-available;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px black;
    margin-top: 0.5rem;
}

@media screen and (min-width: 450px){
    .box-login {
        margin-left: calc(50% - 14rem);
    }
}